/* loader
==================================*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

/* Animation
==================================*/
// .c-anim-load,
// .c-anim-load02,
// .c-anim-up,
// .c-anim-up01,
// .c-anim-up02,
// .c-anim-up03,
// .c-anim-up04,
// .c-anim-up05 {
//   opacity: 0 !important;
//   transition: .3s ease !important;
// }

// .move {
//   opacity: 1 !important;
// }
