/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.sp {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: 0.3s;
  &:visited {
    color: $font-color;
  }
  &:hover {
    color: $font-color;
    text-decoration: none;
  }
  &:active {
    color: $font-color;
  }
  &.tel {
    pointer-events: none;
    cursor: default;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}
/*　Retina対応時のCSS↓　*/
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 105px;
  // border: 1px solid;
  .header_inner{
    .head_top{
      height: 32px;
      border-bottom: 1px solid #e2e2e2;
      display: flex;
      align-content: center;
      justify-content: space-between;
      .left_nav{
        ul{
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          li{
            height: 100%;
            padding: 0 25px;
            border-right: 1px solid #e2e2e2;
            &:nth-child(1){
              a{
                img{
                  width: 85px;
                }
              }
            }
            &:nth-child(2){
              a{
                img{
                  width: 75px;
                }
              }
            }
            &:nth-child(3){
              a{
                img{
                  width: 114px;
                }
              }
            }
          }
        }
      }
      .right_nav{
        display: flex;
        align-items: center;
        padding-right: 25px;
        a{
          display: flex;
          align-items: center;
          img{
            width: 16px;
            margin-right: 5px;
          }
          span{
            @include Noto_Sans(500);
            font-size: 12px;
            color: #5e5e5e;
            background-color: #f3f3f3;
            padding: 5px 15px;
            border-radius: 50px;
          }
        }
      }
    }
    .head_bottom{
      height: calc(105px - 32px);
      padding: 0 50px;
      border-bottom: 1px solid #e2e2e2;
      display: flex;
      align-content: center;
      justify-content: space-between;
      .left_nav{
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1130px) {
          order: 2;
        }
        .logo{
          a{
            img{
              width: 111px;
            }
          }
        }
      }
      .mid_nav{
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1130px) {
          order: 3;
        }
        ul{
          height: 100%;
          display: flex;
          align-items: center;
          position: relative;
          @media only screen and (max-width: 1130px) {
            display: none;
          }
          li{
            position: relative;
            height: 100%;
            margin: 0 15px;
            display: flex;
            align-items: center;
            &::after{
              content: "";
              transition: .3s ease;
              display: block;
              width: 100%;
              height: 0;
              background-color: #00a49e;
              position: absolute;
              bottom: 0;
              left: 0;
            }
            &:hover{
              &::after{
                height: 4px
              }
            }
            &.active{
              &::after{
                content: "";
                transition: .3s ease;
                display: block;
                width: 100%;
                height: 4px;
                background-color: #00a49e;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            a{
              @include Noto_Sans(500);
              font-size: 16px;
              color: #000000;
            }
          }
        }
        .menu {
          display: none;
          position: relative;
          // background: #000;
          width: 55px;
          cursor: pointer;
          // height: 55px;
          
          &.active{
            position: fixed;
            top: 20px;
            right: 30px;
            z-index: 2000;
          }
          @media only screen and (max-width: 1130px) {
            display: block;
          }
          span {
            position: absolute;
            top: 8px;
            left: 0;
            right: 0;
            display: inline-block;
            background: #000;
            width: 31px;
            height: 3px;
            margin: auto;
            transition: 0.3s;
            // transition-delay: .3s;
            &.line-t.show {
              top: 16px;
              transform: rotate(-45deg);
            }
            &.line-m {
              top: 16px;
              &.show {
                opacity: 0;
              }
            }
            &.line-b {
              top: 24px;
              &.show {
                top: 16px;
                transform: rotate(45deg);
              }
            }
          }
          p {
            color: #fff;
            padding: 35px 0 0;
            font-size: 10px;
            text-align: center;
          }
        }
      }
      .right_nav{
        @media only screen and (max-width: 1130px) {
          order: 1;
        }
        ul{
          height: 100%;
          display: flex;
          align-items: center;
          li{
            display: flex;
            align-items: center;
            &:not(:last-child){
              margin-right: 30px;
            }
            &:nth-of-type(1){
              a{
                img{
                  margin-right: 8px;
                }
              }
            }
            a{ 
              display: flex;
              align-items: center;
              @include Noto_Sans(500);
              font-size: 14px;
              color: #5e5e5e;
              img{
                width: 19px;
              }
            }
          }
        }
      }
    }
  }

  .language_layer{
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1005;
    &.show{
      visibility: visible;
      opacity: 1;
    }
    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.60);
    }
    .wrapper{
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      background-color: #fff;
      padding: 120px 0;
      .lang_cont{
        position: relative;
        width: 530px;
        margin: 0 auto;
        p{
          @include Noto_Sans(500);
          font-size: 30px;
          color: #777777;
          margin-bottom: 40px;
          img{
            position: relative;
            top: -6px;
            width: 26px;
          }
        }
        .lang_close{
          cursor: pointer;
          width: 22px;
          position: absolute;
          top: 0;
          right: 0;
        }
        .lang_list{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          li{
            width: calc(100% / 3);
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .search_layer{
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1005;
    &.show{
      visibility: visible;
      opacity: 1;
    }
    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.60);
    }
    .wrapper{
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      background-color: #fff;
      padding: 120px 0;
      .search_cont{
        position: relative;
        max-width: 920px;
        padding: 0 60px;
        margin: 0 auto;
        .search_input{
          display: flex;
          align-items: center;
          padding: 0 20px 20px;
          border-bottom: 1px solid #00a49e;
          img{
            width: 23px;
            margin-right: 10px;
          }
          input{
            @include Noto_Sans(500);
            font-size: 30px;
            color: #777777;
            width: 100%;
            border: none;
            outline: none;
            padding-right: 20px;
          }
          .arrow_search{
            width: 120px;
            display: flex;
            align-items: center;
            &::before{
              content: "SEARCH";
              @include Barlow(500);
              font-size: 18px;
              color: #00a49e;
              padding-right: 10px;
            }
          }
        }
        .lang_close{
          cursor: pointer;
          width: 22px;
          position: absolute;
          top: 0;
          right: 20px;
        }
        .search_list{
          background-color: #f9f9f9;
          padding: 20px 0;
          max-height: 180px;
          overflow: auto;
          display: none;
          transition: .5s ease;
          &.show{
              display: block;
          }
          li{ 
            padding: 5px 55px;
            
            &:hover{
              background-color: #eaf4f4;
              a{
                color: #00a49e;
              }
            }
            a{
              @include Noto_Sans(300);
              font-size: 16px;
              color: #777777;
            }
          }
        }
      }
    }
  }

  .sp_menu_cont{
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    transform: translateX(-100%);
    &.active{
      transform: translateX(0);
    }
    .overlay{
      background-color: rgba(0, 0, 0, 0.60);
      width: 100%;
      height: 100%;
    }
    .wrapper{
      width: 75%;
      position: fixed;
      top: 0;
      right: 0;
      background-color: #fff;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      height: 100%;
      .input_search{
        margin-bottom: 30px;
        position: relative;
        padding: 0 20px;
        margin-top: 80px;
        input{
          @include Noto_Sans(500);
          font-size: 16px;
          color: #777777;
          padding: 15px 60px 15px 30px;
          width: 100%;
          background-color: #f9f9f9;
          outline: none;
          border: none;
        }
        img{
          width: 20px;
          position: absolute;
          top: 50%;
          right: 50px;
          transform: translate(0, -50%);
        }
      } 
      .sp_menu{
        display: block;
        border-top: 1px solid #e2e2e2;
        margin-bottom: 30px;
        li{
          position: relative;
          padding: 15px 20px;
          border-bottom: 1px solid #e2e2e2;
          transition: .3s ease;
          &:hover{
            background-color: #f9f9f9;
          }
          a{
            display: block;
            width: 100%;
            @include Noto_Sans(500);
            font-size: 16px;
            color: #000;
          }
          &::after{
            content: "\203A";
            font-size: 30px;
            color: #00a49e;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
          }
        }
      }
      .btn_lang{
        padding-left: 20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        img{
          width: 16px;
          margin-right: 10px;
        }
        span{
          @include Noto_Sans(500);
          font-size: 12px;
          color: #5e5e5e;
          background-color: #f3f3f3;
          padding: 5px 15px;
          border-radius: 50px;
        }
      }
      .sp_menu2{
        display: block;
        margin-bottom: 50px;
        li{
          position: relative;
          padding: 0 20px;
          a{
            @include Noto_Sans(300);
            font-size: 16px;
            color: #000;
          }
          &::after{
            content: "\203A";
            position: relative;
            right: 0;
            font-size: 30px;
            line-height: 35px;
            color: #00a49e;
          }
        }
      }
      .sp_icon{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 70px;
        li{
          margin-right: 30px;
          &:not(:first-child){
            a{
              img{
                width: 30px;
              }
            }
          }
          a{
            img{
              width: 18px;
            }
          }
        }
      }
    }
  }
}

/* footer
==================================*/
footer {
  background: #000;
  margin-top: 200px;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
    &:hover {
      opacity: 0.7;
    }
  }
}
