/*==================================
  Legal
==================================*/
#Legal {
  header.under {
    height: 57px;
  }
  .under + main {
    margin-top: 57px;
  }
  main {
    .container {
      h1 span {
        font-size: 18px;
      }
    }
    .under-page-link {
      padding-top: 0;
      .subtitle {
        margin-bottom: 20px;
        h2 {
          text-align: center;
        }
      }

      .box {
        &:last-child .des {
          margin-bottom: 0;
        }
        h2 {
          border: #e2e2e2 1px solid;
          position: relative;
          cursor: pointer;
          padding: 15px 30px 15px 15px;
          font-size: 18px;
          margin-bottom: 0;
          &::before {
            content: "";
            position: absolute;
            top: 3px;
            right: 15px;
            bottom: 0;
            margin: auto;
            width: 6px;
            height: 10px;
            background-image: url(/images/common/arrow_icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s ease;
            transform: rotate(90deg);
          }
          &.open::before {
            transform: rotate(-90deg);
          }
        }
        .des {
          display: none;
          margin-top: 10px;
          margin-bottom: 40px;
          h3, h4 {
            font-weight: 500;
            line-height: 1.5;
          }
          h3 {
            margin-left: 1em;
            text-indent: -1em;
          }
          .env {
            margin-bottom: 30px;
          }
          ul {
            &.dot {
              margin: 1em 0;
              li {
                margin-left: 1em;
                text-indent: -1em;
              }
            }
            &.deci {
              margin-top: 1em;
              li {
                text-indent: -1.3em;
                margin-left: 1.3em;
              }
            }
            &.deci2 {
              margin-top: 1em;
              li {
                text-indent: -1.7em;
                margin-left: 1.7em;
                margin-bottom: 1em;
                ul.deci {
                  margin-top: 0;
                  li {
                    text-indent: -1.3em;
                    margin-left: 1.3em;
                    margin-bottom: 0;
                  }
                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
          p, li {
            a {
              color: $green-color;
              text-decoration: underline;
              &.tel {
                color: #000000;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .index-link {
      padding-top: 0 !important;
      background: none !important;
    }
  }
}