/*==================================
  Product
==================================*/
#Product main {
  .container {
    h1 span {
      font-size: 18px;
    }
    #description {
      sub {
        font-size: 12px;
      }
      span.kome {
        display: block;
        font-size: 14px;
        margin-top: 15px;
        padding-left:1em;
        position: relative;
        sup {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .banner {
    margin: 0 15px 100px;
    border: #e2e2e2 1px solid;
    &.bn2 {
      margin-top: -80px;
    }
  }

  &#ProTop {
    .ttl-sec .container {
      padding-bottom: 0;
      .tab_link_wrap {
        margin: 38px -15px 0 0;
        overflow-x: scroll;
        .tab_ul {
          display: flex;
          margin: 0 -7px;
          min-width: 448px;
          > .tab_li {
            padding: 0 7px;
            height: 100%;
            position: relative;
            min-height: 1px;
            width: 100%;
            a {
              line-height: 1.2;
              font-weight: 500;
              letter-spacing: 0.06em;
              color: #ababab;
              text-align: center;
              padding:12px 10px;
              display: block;
              height: 100%;
              background-color: #f3f3f5;
              box-sizing: border-box;
              border-bottom: 2px solid #f3f3f5;
              min-width: 140px;
              max-height: 63px;
              width: 100%;
              transition: all 0.3s ease;

              &.here {
                background-color: transparent;
                color: #00a49e;
                border-color: #00a49e;
              }
            }

            &:nth-of-type(3) a {
              padding: 21px 10px;
            }
          }
        }
      }
    }

    .under-page-link {
      display: none;
      padding-top: 42px;
      .container a {
        margin-bottom: 20px;
        display: block;
        .wrapper {
          height: 128vw;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
          overflow: hidden;
          &:before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            top: 0;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
            background: linear-gradient(-45deg, rgba(228,229,233,1) 0%, rgba(248,248,249,1) 100%);
            z-index: -1;
          }
          &:after {
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            top: 0;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
            -webkit-transition: all 1.4s ease;
            -moz-transition: all 1.4s ease;
            -ms-transition: all 1.4s ease;
            transition: all 1.4s ease;
            z-index: -1;
          }
        }

        .fot_left {
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: 24px;

          strong {
            font-size: 18px;
            line-height: 1.166666;
            margin-bottom: 21px;
            font-weight: 500;
            display: block;
          }
        }
      }

      &.show {
        display: block;
      }
    }

    #Catalyst {
      .container a {
        &:nth-child(1) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/01.svg) no-repeat center left 4vw;
              background-size: 107vw auto;
            }
          }
        }

        &:nth-child(2) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/02.svg) no-repeat center left 4vw;
              background-size: 113vw auto;
            }
          }
        }

        &:nth-child(3) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/03.svg) no-repeat center left 10vw;
              background-size: 114vw auto;
            }
          }
        }

        &:nth-child(4) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/04.svg) no-repeat center left 6vw;
              background-size: 123vw auto;
            }
          }
        }
      }
    }

    #Material {
      .container a {
        &:nth-child(1) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/05.svg) no-repeat center left;
              background-size: 82vw auto;
            }
          }
        }

        &:nth-child(2) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/06.svg) no-repeat center left 2vw;
              background-size: 78vw auto;
            }
          }
        }
      }
    }

    #Other {
      .container a {
        &:nth-child(1) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/07.svg) no-repeat center left 7vw;
              background-size: 75vw auto;
            }
          }
        }

        &:nth-child(2) {
          .wrapper {
            &:after {
              content: "";
              background: url(../images/product/08.svg) no-repeat center left 12vw;
              background-size: 67vw auto;
            }
          }
        }
      }
    }

  }


  /* Gasoline, Diesel List */
  &#ProList {
    .ttl-sec .container {
      padding-bottom: 20px;
    }
    .under-page-link {
      padding-top: 80px;
      padding-bottom: 0;
      &.page-top {
        padding-top:0;
      }
      .txt_wrapper {
        margin-top: 30px;
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
          span {
            font-size: 14px;
          }
        }
        sub {
          font-size: 12px;
        }
        .award {
          padding: 10px 20px 15px;
          background: #f3f3f5;
          margin-top: 20px;
          h3 {
            line-height: 1.5;
            letter-spacing: 0.06em;
            font-weight: 300;
            color: $green-color;
            margin: 0 0 7px;
          }
          ul li {
            position: relative;
            padding-left: 70px;
            span {
              &.year {
                position: absolute;
                left: 0;
                top: 0;
              }
              &.lines {
                line-height: 1.3;
                display: inline-block;
                margin: 5px 0;
              }
            }
          }
          &.genre {
            ul li {
              padding-left: 0;
            }
          }
        }
        .link-btn.gray-link {
          display: block;
          margin: 30px auto 0;
        }

        .honeycomb {
          h3 {
            color: $green-color;
            font-size: 18px;
            line-height: 1.27;
            letter-spacing: 0.06em;
            text-align: center;
            font-weight: 500;
            margin: 30px 0 20px;
          }
          .h-flow {
            margin: 0 37px;
            .stepbox {
              position: relative;
              width: 100%;
              padding-bottom: 31px;
              &::after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 9px 0 9px;
                border-color: #00a49f transparent transparent transparent;
                position: absolute;
                bottom: 0;
                left: calc(50% - 9px);
              }
              &:last-child {
                padding-bottom: 0;
                &::after {
                  display: none;
                }
              }
              p.img {
                text-align: center;
                img {
                  width: 100%;
                }
              }
            }
            h4 {
              font-size: 18px;
              letter-spacing: 0.06em;
              font-weight: 500;
              margin: 16px 0 10px;
              span {
                font-size: 14px;
                @include Barlow;
                color: $green-color;
                padding-right: 10px;
              }
            }
          }
        }
      }

      .bdr {
        border: #e2e2e2 1px solid;
      }

      &:last-of-type {
        padding-bottom: 100px;
      }
    }
  }


  &#ProUnder {
    .under-page-link {
      h2 {
        text-align: center;
        font-size: 20px;
        span {
          font-size: 14px;
        }
      }
      p {
        line-height: 1.68;
        sub {
          font-size: 12px;
        }
        .kome {
          font-size: 14px;
          line-height: 1.5;
          margin-top: 15px;
          padding-left: 1em;
          display: block;
          position: relative;
          sup {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .img {
        .ttl {
          margin-bottom: 19px;
        }
      }
      .award {
        padding: 10px 20px 15px;
        background: #f3f3f5;
        margin-top: 20px;
        h3 {
          line-height: 1.5;
          letter-spacing: 0.06em;
          font-weight: 300;
          color: $green-color;
          margin: 0 0 7px;
        }
        ul li {
          position: relative;
          padding-left: 70px;
          span {
            &.year {
              position: absolute;
              left: 0;
              top: 0;
            }
            &.lines {
              line-height: 1.3;
              display: inline-block;
              margin: 5px 0;
            }
          }
        }
      }
      .link-btn.gray-link {
        display: block;
        margin: 30px auto 0;
      }
      .bg-gray {
        background: #f3f3f5;
        padding: 20px;
        h3 {
          font-size: 18px;
          line-height: 1.27;
          letter-spacing: 0.06em;
          font-weight: 500;
          color: $green-color;
          margin-bottom: 10px;
        }
        .gray-inner {
          margin-bottom: 32px;
          &:last-of-type {
            margin-bottom: 0;
          }

          &.gray-flex {
            .gf-inner {
            }
          }
        }
      }
    }


    /* GPF */
    &.gpf {
      .gray_wrap {
        background: #f3f3f5;
        padding: 17px 15px;
        box-sizing: border-box;
        margin-top: 20px;
      }
      .oversea {
        margin: 40px 0;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: 48%;
            margin-bottom: 4%;
            &:nth-of-type(3) {
              margin-bottom: 0;
            }
          }
        }
        p {
          font-size: 12px;
          margin-top: 7px;
          a {
            text-decoration: underline;
          }
        }
      }

      .img1 {
        position: relative;
        padding-top: 28px;
        P {
          &.ttl {
            margin-bottom: 0;
          }
          &.caution {
            font-size: 12px;
            margin-top: 14px;
          }
        }
      }

      .img2 {
        padding-top: 40px;
        padding-bottom: 30px;
        p {
          &.ttl {
            margin-bottom: 10px;
          }
          &.last-img {
            margin-top: 76px;
          }
        }
      }

      .img3 {
        margin-top: 40px;
        ul {
          margin-bottom: 32px;
          li {
            margin-top: 40px;
            strong {
              display: block;
              font-weight: 300;
              margin-bottom: 16px;
            }
            img {
              display: block;
              width: 90%;
              margin: auto;
            }

            &:nth-of-type(2) img {
              width: 84%;
            }
          }
        }
      }
    }


    /* SRR-MIX */
    &.srr-mix {
      h3 {
        font-size: 18px;
        line-height: 1.27;
        letter-spacing: 0.06em;
        font-weight: 500;
        color: $green-color;
        margin-bottom: 10px;
      }
      .bg-gray .gray-inner .gf-image {
        margin-top: 10px;
      }
      .oversea {
        margin: 30px 0;
        ul {
          margin: 10px 0 0;
          li {
            font-size: 12px;
            &:last-child {
              margin: 0.5em 0 0 2.4em;
              text-indent: -2.4em;
            }
          }
        }
      }
      .w900 {
        margin: 20px 0 50px;
      }

      .what {
        margin-top: -20px;
        .what-img {
          margin-top: 20px;
        }
      }

      .img {
        &.img-graph {
          li {
            margin-top: 20px;
            strong {
              display: block;
              font-weight: 300;
              margin-top: 12px;
              letter-spacing: 0;
            }
          }
        }

        &.img1 {
          position: relative;
          padding-top: 20px;
          P.ttl {
            margin-bottom: 15px;
          }
        }
        &.img2 {
          padding-top: 20px;
          padding-bottom: 30px;
        }
      }
    }


    /* pCP */
    &.pcp {
      h3.black {
        font-size: 20px;
        line-height: 1.27;
        letter-spacing: 0.06em;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        small {
          font-size: 16px;
        }
      }
      .bnr {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
      }
      .structure {
        .box {
          padding-top: 30px;
          dl {
            padding-top: 20px;
            dt {
              text-align: center;
              font-weight: 500;
              margin-bottom: 10px;
            }
          }
          img {
            width: 100%;
          }

          &:nth-of-type(1) {
            border-bottom: #e2e2e2 1px solid;
            padding-bottom: 30px;
            dl {
              padding-top: 30px;
            }
          }
        }
      }
      ul.imgs {
        padding-top: 20px;
        li {
          margin-top: 10px;
        }
      }
      .w900 {
        margin: 30px 0 40px;
      }
    }


    /* NSR */
    &.nsr {
      .container {
        p {
          a {
            color: $green-color;
            text-decoration: underline;
          }
          &.kome {
            font-size: 14px;
            margin: 1em 0 0 1em;
            text-indent: -1em;
          }
          &.nsr_img {
            margin-bottom: 20px;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
        .bg-gray {
          margin-top: 20px;
        }
        .tech {
          margin-bottom: 30px;
          padding-bottom: 30px;
          position: relative;
          .tbox {
            padding-bottom: 30px;
            h3 {
              text-align: center;
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 12px;
            }
          }
          .maru {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            li {
              padding-left: 32px;
              background: url(/images/product/gasoline/nsr/blue.svg) no-repeat left center;
              background-size: 20px 20px;
              &:nth-of-type(1) {
                margin-right: 30px;
                background: url(/images/product/gasoline/nsr/red.svg) no-repeat left center;
                background-size: 21px 20px;
              }
            }
          }
        }
        .wrap {
          margin-bottom: 40px;
          .left_wrap {
            margin-bottom: 20px;
          }
        }
        .formula {
          margin-bottom: 40px;
          h3 {
            text-align: center;
            line-height: 1.2;
            font-weight: 500;
            position: relative;
            sub {
              font-size: 12px;
            }
          }
          .bg_green {
            margin: 20px 0;
            background: #e9f5f5;
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
              text-align: left;
              padding-right: 16px;
              margin-right: 10px;
              &::after {
                content: "＝";
                position: absolute;
                right: 0;
                top: calc(50% - 8px);
              }
              sub {
                font-size: 10px;
              }
            }
            ul {
              width: 50%;
              li {
                font-weight: 500;
                text-align: center;
                span {
                  font-size: 14px;
                  sub {
                    font-size: 10px;
                  }
                }
                &:last-child {
                  border-top: #000000 1px solid;
                  margin-top: 3px;
                }
              }
            }
          }
        }
        .imgs {
          .wash {
            margin-top: 30px;
            h3 {
              text-align: center;
              font-weight: 500;
              margin-bottom: 10px;
            }
            p.txt {
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }


    /* HC-SCR */
    &.hc-scr {
      .container {
        p {
          a {
            color: $green-color;
            text-decoration: underline;
          }
          &.diesel_img {
            width: 100%;
            max-width: 608px;
            margin: 20px auto;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
        .mt40 {
          margin-top: 20px;
        }
        .compare {
          .tbox {
            margin-top: 20px;
            &:nth-of-type(1) {
              border-bottom: #e2e2e2 1px solid;
              padding-bottom: 20px;
            }
            h3 {
              text-align: center;
              font-size: 18px;
              line-height: 1.27;
              font-weight: 500;
              margin-bottom: 15px;
            }
          }
        }
        .wrap {
          picture {
            display: block;
            background: #ffffff;
            padding: 12px 0;
            margin-top: 20px;
            text-align: center;
            img {
              max-width: 196px;
            }
          }
          &.nobg {
            padding-bottom: 27px;
            position: relative;
            p.circle {
              position: absolute;
              right: 0;
              bottom: 0;
              background: url(/images/product/diesel/hc-scr/m.svg) no-repeat 0 0;
              background-size: 18px 18px;
              font-size: 12px;
              padding-left: 22px;
            }
            picture {
              padding: 0;
              background: none;
              img {
                max-width: 100%;
              }
            }
          }
        }
        .big-img {
          position: relative;
          margin-top: 30px;
          p {
            font-size: 12px;
            position: absolute;
            left: 10px;
            top: 7px;
          }
        }
      }
    }


    /* Carbon */
    &.carbon {
      img {
        width: 100%;
        height: auto;
      }
      h3.c {
        font-size: 18px;
        text-align: center;
        font-weight: 500;
        margin: 40px 0 0;
      }
      p {
        &.sp {
          margin-top: 30px;
        }
        &.r {
          font-size: 12px;
          line-height: 1.4;
          a {
            text-decoration: underline;
          }
        }
        &.type-img {
          margin-top: 20px;
        }
      }
      .m40 {
        margin-bottom: 30px;
      }
      .table_wrap {
        overflow: scroll;
        margin: 10px 0;
        table {
          width: 800px;
          tr {
            th, td {
              font-size: 14px;
              line-height: 1.4;
              padding: 20px 10px;
              background: #ffffff;
              border-bottom: #e2e2e2 1px solid;
              &:nth-of-type(1) {
                padding-left: 30px;
              }
            }
            th {
              font-weight: 500;
              text-align: left;
              color: $green-color;
              vertical-align: middle;
              padding: 10px;
              &:nth-of-type(2) {
                width: 90px;
                text-align: center;
              }
            }
            td {
              &:nth-of-type(1) {
                padding-right: 0;
                font-size: 20px;
                @include Barlow;
                sub {
                  font-size: 14px;
                }
              }
              &:nth-of-type(2) {
                padding-left: 9px;
                width: 106px;
              }
              &:nth-of-type(3) {
                text-align: center;
              }
            }
          }
          &.countries {
            tr {
              th {
                font-size: 18px;
                color: #000000;
                vertical-align: top;
                padding: 20px 10px 20px 72px;
              }
              td {
                @include Noto_Sans(300);
                font-size: 14px;
                sub {
                  font-size: 12px;
                }
                strong {
                  font-size: 22px;
                  @include Barlow;
                  span {
                    font-size: 16px;
                  }
                }
              }
              &:nth-of-type(1) th {
                background: url(/images/product/carbon/icon_cn.svg) no-repeat 30px 23px;
                background-size: 30px auto;
              }
              &:nth-of-type(2) th {
                background: url(/images/product/carbon/icon_eu.svg) no-repeat 30px 23px;
                background-size: 30px auto;
              }
              &:nth-of-type(3) th {
                background: url(/images/product/carbon/icon_in.svg) no-repeat 30px 23px;
                background-size: 30px auto;
              }
              &:nth-of-type(4) th {
                background: url(/images/product/carbon/icon_ja.svg) no-repeat 30px 23px;
                background-size: 30px auto;
              }
              &:nth-of-type(5) th {
                background: url(/images/product/carbon/icon_ru.svg) no-repeat 30px 23px;
                background-size: 30px auto;
              }
              &:nth-of-type(6) th {
                background: url(/images/product/carbon/icon_us.svg) no-repeat 30px 23px;
                background-size: 30px auto;
              }
            }
          }
        }
      }

      .bg-gray {
        margin-top: 30px;
        .table_wrap {
          table {
            tr:last-child {
              th, td {
                border-bottom: none;
              }
            }
          }
        }
        .case {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -5px;
          li {
            margin: 10px 5px 0;
            background: #ffffff;
            width: calc(50% - 10px);
            padding: 10px 0;
            line-height: 1.2;
            text-align: center;
            strong {
              display: block;
              font-size: 20px;
              @include Barlow;
              margin: 5px 0 10px;
            }
            &:nth-of-type(1) {
              img {
                width: 102px;
              }
              strong {
                margin-top: 12px;
              }
            }
            &:nth-of-type(2) {
              padding-top: 26px;
              img {
                width: 120px;
              }
              strong {
                margin-top: 12px;
              }
            }
            &:nth-of-type(3) {
              img {
                width: 98px;
              }
              strong {
                margin-top: 10px;
              }
            }
            &:nth-of-type(4) {
              img {
                width: 77px;
              }
              strong {
                margin-top: 13px;
              }
            }
          }
        }
      }
      .fl {
        margin-bottom: 30px;
        .txt {
          margin-top: 20px;
          h3 {
            margin-left: 1.2em;
            text-indent: -1.2em;
          }
        }
      }
      .type {
        h3 {
          margin-bottom: 6px;
          margin-top: 30px;
        }
        .link-wrap .link-btn.gray-link {
          max-width: 290px;
          margin-top: 20px;
        }
      }
    }


    /* Electro */
    &.electro {
      h3.c {
        font-size: 18px;
        line-height: 1.4;
        text-align: center;
        font-weight: 500;
        margin: 40px 0 0;
      }
      p {
        &.r {
          font-size: 14px;
          line-height: 1.4;
          text-align: right;
          margin-top: 30px;
          a {
            text-decoration: underline;
          }
        }
        &.kome {
          font-size: 14px;
          line-height: 1.4;
          padding-left: 1em;
          text-indent: -1em;
          sub {
            font-size: 10px;
          }
        }
      }
      .m40 {
        margin-bottom: 20px;
      }
      .fc1 {
        margin: 20px 0 40px;
      }
      .wrap {
        display: flex;
        margin-top: 30px;
        flex-direction: column-reverse;
        .left_wrap {
          margin-top: 20px;
        }
      }
      .stac {
        .stac-flow {
          margin-bottom: 20px;
          .sf {
            padding: 0 0 37px 0;
            position: relative;
            text-align: center;
            &::before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 7px 9px 0 9px;
              border-color: $green-color transparent transparent transparent;
              position: absolute;
              bottom: 16px;
              left: calc(50% - 9px);
            }
            h3 {
              font-size: 14px;
              @include Barlow;
              margin: 21px 0 10px;
            }
            p.txt {
              font-size: 12px;
              text-align: right;
              position: absolute;
              right: 21px;
              top: -6px;
            }
            &:last-child {
              padding-bottom: 0;
              &::before {
                display: none;
              }
            }
          }
        }
      }
      .sys1 {
        margin-top: 20px;
      }
      .sys2 {
        margin: 20px 0 40px;
      }
      .sys3 {
        margin: 20px 0 40px;
      }
      .fl {
        li {
          position: relative;
          margin-top: 20px;
          span {
            font-size: 14px;
            position: absolute;
            left: 10px;
            top: 8px;
          }
        }
      }
      .graph1 {
        margin-top: 20px;
      }
      .graph2 {
        .tbox {
          text-align: center;
          margin-top: 20px;
          h3 {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
          }
          &:nth-of-type(1) {
            border-bottom: #e2e2e2 1px solid;
            padding: 0 0 20px 0;
          }
          &:nth-of-type(2) {
            img {
              margin-bottom: 10px;
            }
          }
        }
      }
      .movie {
        margin-top: 40px;
        .movie-ttl {
          h3 {
            text-align: left;
            margin: 10px 0 7px;
          }
          .award h3 {
            margin: 0 0 7px;
          }
        }
      }
    }


    /* Sheet */
    &.sheet {
      h3.c {
        font-size: 18px;
        line-height: 1.27;
        letter-spacing: 0.06em;
        font-weight: 500;
        text-align: center;
        color: #000000;
      }
      p.sp {
        margin-top: 20px;
      }
      .bg-gray {
        margin-top: 20px;
        h3 {
          span {
            font-size: 14px;
            color: #000000;
            display: block;
            margin-top: 5px
          }
        }
        h4 {
          font-size: 18px;
          line-height: 1.41;
          letter-spacing: 0.06em;
          font-weight: 500;
          color: $green-color;
          margin: 20px 0 5px;
          sub {
            font-size: 14px;
          }
        }
      }
      .table_wrap {
        overflow: scroll;
        margin: 10px 0 0;
        table {
          width: 800px;
          tr {
            th {
              width: 60px;
              background:$green-color;
              color: #ffffff;
              border-bottom: #ffffff 1px solid;
              font-weight: 300;
              line-height: 1.2;
              vertical-align: middle;
            }
            td {
              border-bottom: #e2e2e2 1px solid;
              padding: 13px;
              vertical-align: middle;
              &:nth-of-type(1) {
                width: 80px;
                font-weight: 500;
                font-size: 20px;
                text-align: center;
                padding: 13px 17px;
                .year {
                  display: block;
                  color: $green-color;
                  font-size: 16px;
                  strong {
                    font-size: 20px;
                    @include Barlow;
                  }
                }
              }
            }
            &:last-child th {
              border-bottom: $green-color 1px solid;
            }
          }
        }
        dl {
          width: 100%;
          padding-top: 20px;
        }
      }
      .img01 {
        margin-top: 20px;
      }
      .img02 {
        margin-top: 20px;
        h3 {
          margin-bottom: 15px;
        }
      }
    }


    /* Flow */
    &.flow {
      .bg-gray {
        margin: 20px 0;
      }
      .synthetic {
        .sbox {
          h3 {
            font-size: 18px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 10px;
          }
          p {
            width: 100%;
            margin: auto;
            img {
              width: 100%;
              height: auto;
            }
          }
          .merit {
            margin-top: 15px;
            border-top: #e2e2e2 1px solid;
            dl {
              display: flex;
              align-items: center;
              width: 100%;
              border-bottom: #e2e2e2 1px solid;
              dt {
                width: 110px;
                color: $green-color;
                font-weight: 500;
                padding: 10px;
                box-sizing: border-box;
              }
              dd {
                width: calc(100% - 110px);
                padding: 10px;
                box-sizing: border-box;
                ul li {
                  position: relative;
                  margin-left: 1em;
                  text-indent: -1em;
                  &::before {
                    content: "・";
                  }
                }
              }
            }
          }
          &:nth-of-type(1) {
            margin-bottom: 30px;
            p {
              max-width: 372px;
            }
          }
          &:nth-of-type(2) {
            p {
              max-width: 382px;
            }
          }
        }
      }
    }
  }
}
