/*==================================
  Recruit
==================================*/
#Recruit {
  header.under {
    height: 57px;
  }
  .under + main {
    margin-top: 57px;
  }
  main {
    .container {
      h1 span {
        font-size: 18px;
      }
    }
    .ttl-sec {
      margin-bottom: 30px;
    }
    .under-page-link {
      padding-top: 42px;
      .txt_wrapper {
        margin-top: 30px;
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          span {
            font-size: 14px;
            display: block;
            margin-top: 0.5em;
          }
          a.textlink {
            color: $green-color;
            text-decoration: underline;
          }
        }
        sub {
          font-size: 12px;
        }
        .link-btn.gray-link {
          display: block;
          margin: 30px auto 0;
        }
      }
    }
  }
  footer {
    h4.index-ttl {
      span {
        font-size: 14px;
        margin-left: 14px;
      }
    }
    #append-nav {
      h5 {
        border-bottom: #e8e8e8 1px solid;
        padding-bottom: 13px;
        a {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.06em;
          @include Noto_Sans;
          font-weight: 400;
          position: relative;
          padding-right: 14px;
          transition: all 0.4s ease;
          &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 1px;
            bottom: 0;
            margin: auto;
            background-image: url(../images/common/right_gr_arrow.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 4px;
            height: 7px;
          }
        }
        &:nth-of-type(2) {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      ul#scroll-nav-list {
        margin: 13px 0 30px 18px;
        li {
          a {
            color: #777777;
          }
        }
      }
    }
  }
}